ballchasingsharp/.vs/*
ballchasingsharp/ballchasingsharp/bin/*
ballchasingsharp/ballchasingsharp/obj/*
ballchasingsharp/ballchasingsharp/objd/*
ballchasingsharp/ballchasingsharpclienttest/bin/*
ballchasingsharp/ballchasingsharpclienttest/obj/*
ballchasingsharp/ballchasingsharpclienttest/objd/*
/ballchasingsharp/ballchasingsharpclienttest/Resources/configuration.json
.vscode/*
.DS_Store